source https://www.nuget.org/api/v2

nuget FParsec 1.0.3
nuget FSharp.Compiler.Service 25.0.1 prerelease
nuget ILRepack.Lib 2.0.12 prerelease restriction: >= net452
nuget Microsoft.NET.Test.Sdk 15.8.0
nuget NuGet.Core 2.14.0 prerelease restriction: >= net452
nuget nunit 3.10.1
nuget NUnit3TestAdapter 3.10.0